<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>

    <!-- Roboto font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />


    {{ vite src="resources/js/site.js|resources/css/site.css" }}
</head>

<body>
    <!--Main Navigation-->
    <header>
        {{ partial:partials/navbar }}
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main>
        {{ template_content }}
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer>
        {{ partial:footer }}
    </footer>
    <!--Footer-->
</body>