<!-- Footer container -->
<footer class="bg-neutral-100 text-center text-neutral-600 dark:bg-neutral-600 dark:text-neutral-200 lg:text-left">

  <!-- Main container div: holds the entire content of the footer, including four sections (TW elements, Products, Useful links, and Contact), with responsive styling and appropriate padding/margins. -->
  <div class="mx-6 py-2 text-center md:text-left">
    <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
      <!-- TW elements section -->
      <div class="">
        <h6 class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start">
          <img src="{{ vite:asset src='resources/images/rv-logo.svg' }}" class="mr-3 h-4" alt="RV Logo" loading="lazy" />
          {{ site_instellingen:officiele_naam }}
        </h6>
        <p>
          {{ site_instellingen:charter }}
        </p>
      </div>
      <!-- Organization section -->
      <div class="grow-0">
        <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          Vereniging
        </h6>
        <p class="mb-2">
          <a href="#!" class="text-neutral-600 dark:text-neutral-200">Organogram</a>
        </p>
        <p class="mb-2">
          <a href="#!" class="text-neutral-600 dark:text-neutral-200">Revet</a>
        </p>
      </div>
      <!-- Useful links section -->
      <div class="grow-0">
        <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          Nuttige links
        </h6>
        <p class="mb-1">
          {{ asset url="/assets/privacyverklaring.pdf"}}
          <a href="{{ url }}" target="_blank" class="text-neutral-600 dark:text-neutral-200">Privacyverklaring</a>
          {{ /asset }}
        </p>
        <p class="mb-1">
          <a href="#!" class="text-neutral-600 dark:text-neutral-200">GDPR Inventaris</a>
        </p>
        <p class="mb-1">
          <a href="#!" class="text-neutral-600 dark:text-neutral-200">Mutualiteiten</a>
        </p>
      </div>
      <!-- Contact section -->
      <div>
        <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          Contact
        </h6>
        <p class="mb-1 flex items-center justify-center md:justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mr-3 h-5 w-5">
            <path
              d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
            <path
              d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
          </svg>
          {{ site_instellingen:straat }} {{ site_instellingen:postcode}} {{ site_instellingen:gemeente}}
        </p>
        <p class="mb-1 flex items-center justify-center md:justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mr-3 h-5 w-5">
            <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
            <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
          </svg>
          {{ site_instellingen:info_email}}
        </p>
        <p class="mb-1 flex items-center justify-center md:justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mr-3 w-6 h-6">
            <path fill-rule="evenodd" d="M7.5 5.25a3 3 0 0 1 3-3h3a3 3 0 0 1 3 3v.205c.933.085 1.857.197 2.774.334 1.454.218 2.476 1.483 2.476 2.917v3.033c0 1.211-.734 2.352-1.936 2.752A24.726 24.726 0 0 1 12 15.75c-2.73 0-5.357-.442-7.814-1.259-1.202-.4-1.936-1.541-1.936-2.752V8.706c0-1.434 1.022-2.7 2.476-2.917A48.814 48.814 0 0 1 7.5 5.455V5.25Zm7.5 0v.09a49.488 49.488 0 0 0-6 0v-.09a1.5 1.5 0 0 1 1.5-1.5h3a1.5 1.5 0 0 1 1.5 1.5Zm-3 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
            <path d="M3 18.4v-2.796a4.3 4.3 0 0 0 .713.31A26.226 26.226 0 0 0 12 17.25c2.892 0 5.68-.468 8.287-1.335.252-.084.49-.189.713-.311V18.4c0 1.452-1.047 2.728-2.523 2.923-2.12.282-4.282.427-6.477.427a49.19 49.19 0 0 1-6.477-.427C4.047 21.128 3 19.852 3 18.4Z" />
          </svg>
          {{ site_instellingen:btw}}
        </p>
      </div>
    </div>
  </div>

  <!--Copyright section-->
  <div class="bg-neutral-200 p-2 text-center dark:bg-neutral-700 flex justify-center items-center">
    <span>© 2024 Copyright: </span>
    <!-- Logo -->
    <a class="mx-3" href="#">
      <img src="{{ vite:asset src='resources/images/rv-logo.svg' }}" class="h-5" alt="RV Logo" loading="lazy" />
    </a>
    <a class="font-semibold text-neutral-600 dark:text-neutral-400" href="https://www.rv-waarloos.be/">
      {{ site_instellingen:officiele_naam }}
    </a>
  </div>
</footer>